$color-sea:rgb(219, 210, 203);
$color-pie:rgb(83,80,80);
$color-aqua: #00c1c5;
$gradiente:linear-gradient(90deg, rgba(83,80,80,1) 5%, rgba(54,187,158,1) 100%);
$color-gris:rgb(223, 213, 213);
$color-negro:#402A01;
$color-verde:darkseagreen;
$color-blanco:white;
$color-negrof:#272525;
